.player-element
    #rwd-button.player-button.size-26(title="#{t('previous')}")
        i.icon-backward
    #play-button.player-button.size-34(title="#{t('play/pause')}")
        i.icon-cogs
    #fwd-button.player-button.size-26(title="#{t('next')}")
        i.icon-forward
.player-element
    .progress-side
        .progress-side-control#loop-button(title="#{t('repeat')}")
            i.icon-refresh
        .time.left
            span#elapsedTime
    .progress-info
        .id3-info -
        .progress
            .inner
    .progress-side
        .progress-side-control#random-button(title="#{t('randomize')}")
            i.icon-random
        .time.right
            span#remainingTime
.player-element
    span#volume
