a(href="#playlist/#{model.id}")
    li(title="#{model.title}") #{model.title}
        .off-screen-nav-button.select-playlist-button(title="#{t('playlist-select')}")
        .off-screen-nav-button.delete-playlist-button(title="#{t('playlist-delete')}")
