div.viewport
    table
        thead
            tr
                th.left#playlist-play(title="#{t('playlist-new)}")
                    i.icon-play
                th.field.title #{t('title')}
                th.field.artist #{t('artist')}
                th.field.album #{t('album')}
                th.field.num #{t('#')}
                th.right
        tbody#track-list
