div.viewport
    table
        thead
            tr
                th.left
                    .thead-button.save-button(title="#{t('save')}")
                    .thead-button.show-prev-button(title="#{t('show/hide')}")
                th.field.title #{t('title')}
                th.field.artist #{t('artist')}
                th.field.album #{t('album')}
                th.field.num #{t('#')}
                th.right
                    .thead-button.clear(title="#{t('clear')}")
        tbody#track-list
