a(href="#", title="#{ t('home') }")
    #top-nav-title-home.top-nav-title
        span.top-nav-text #{t("home-text")}&nbsp;
        i.icon-home
a(href="#playqueue", title=t('queue'))
    #top-nav-title-list.top-nav-title
        span.top-nav-text #{t('queue-text')}&nbsp;
        i.icon-list

 //-Fit this with the right CSS

//-#top-nav-title-list.top-nav-title
    //-input#uploader(name="test" type="file", multiple="multiple", accept='audio/*')
    //-i.icon-cloud-upload
#upload-form.top-nav-title(title="#{t('upload')}", type="file", multiple="multiple")
    span.top-nav-text #{t('upload-text')}&nbsp;
    i.icon-cloud-upload
#youtube-import.top-nav-title(title="#{t('youtube')}")
    span.top-nav-text #{t('youtube-text')}&nbsp;
    i.icon-youtube
#broadcast.top-nav-title(title="#{t('broadcast')}")
    span.top-nav-text #{t('broadcast-text')}&nbsp;
    i.icon-rss
