div.viewport
    table
        thead
            tr
                th.left
                th.field.title.clickable-cell Title
                th.field.plays.clickable-cell(title="#{t('counter')}") #{t('counter-text')}
                th.field.artist.clickable-cell #{t('artist')}
                th.field.album.clickable-cell #{t('album')}
                th.field.num(title="#{t('number')}") #{t('number-text')}
                th.right
        tbody#track-list
