td.left#state
    #add-to-button.player-button.size-20(title="#{t('add')}")
        i.icon-plus
    #play-track-button.player-button.size-20(title="#{t('queue')}")
        i.icon-share-alt
td.field.title
    input.mousetrap(type="text", value="#{model.title}", readonly)
td.field.plays #{model.plays}
td.field.artist
    input.mousetrap(type="text", value="#{model.artist}", readonly)
td.field.album
    input.mousetrap(type="text", value="#{model.album}", readonly)
    #play-album-button.player-button.size-20(title="#{t('queue-album')}")
        i.icon-share
td.field.num #{model.track}
td.right
    #delete-button.player-button.size-20.signal-button(title="#{t('remove')}")
        i.icon-remove
